*,
*::after,
*::before{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background:#304057;
  perspective: 1000px;
  height: 100vh;
  overflow: hidden;
}

.cube {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotateX(150deg) rotateY(48deg);
  width: 300px;
  height: 300px;
  transform-style: preserve-3d;
  transition: all 1s ease;
}

.item{
  width: 300px;
  height: 300px;
  background-color: #283749;
  position: absolute;
  transition: all 1s ease-in;
  opacity: 0.5;
}

.item1{
  background-color: #2BBC63;
  width: 300px;
  height: 300px;
  position: absolute;
  transition: all 1s ease-in;
}

.front {
  transform: translate3d(0,0,150px);
}

.back {
  transform: translate3d(0,0,-150px) rotateY(180deg);
}

.left {
  transform: translate3d(-150px,0,0) rotateY(-90deg);
}

.right {
  transform: translate3d(150px,0,0) rotateY(90deg);
}

.top {
  transform: translate3d(0,-150px,0) rotateX(90deg);
}

.bottom {
  transform: translate3d(0,150px,0) rotateX(-90deg);
}

.cubic{
  height: 5px;
  animation: alternate 5s ease-in infinite cubics;
}

.cubic1{
  transform: translate3d(0,-150px,0) rotateX(-90deg);
  animation: alternate 5s ease-in infinite cubics1;
}

@keyframes cubics{
  0%{
    height: 5px;
  }
  100%{
    height: 300px;
  }
}

@keyframes cubics1{
  0%{
    transform: translate3d(0,-150px,0) rotateX(-90deg);
  }
  100%{
    transform:translate3d(0,150px,0) rotateX(-90deg);
  }
}